<div class="container__big-card">

<div class="big-card__picture">
 <img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTaY6dBNxI1v58lMQnJpDMeZdreV8BV45DtA&s"
  alt=""
  height="200px"

  srcset="">
</div>

<div class="big-card__title">
<h1><a href="#">Quero fazer minha tattos logoo</a></h1>
</div>

<div class="big-card__description">
<p>
  <a href="#">
  Mas há a vida

Mas há a vida
que é para ser
intensamente vivida, há o amor.

Que tem que ser vivido
até a última gota.
Sem nenhum medo.
Não mata.
</a>
</p>
</div>

</div>
